<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" style="text\css" href="css/css.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="img/logo1.png" alt="">
        </div>
        <div class="companyname"><h1>FOREVER PRIVATE LTD;</h1></div>
    </div>

    <div class="homepage">
        <h2>HOME PAGE</h2>
    </div>

    <div class="homecontainer">
        <img src="img/pic2.jfif" alt="">
    </div>

    <div class="gallery">
        <h2>GALLERY</h2>
        
    </div>

    <div class="pics">
        <div class="pic1">
            <img src="img/picc1.jfif" alt="">
        </div>
        <div class="pic2"><img src="img/producct2.jpg" alt=""></div>
        <div class="pic3"> <img src="img/product3.jpg" alt=""></div>
        <div class="pic4"><img src="img/product4.jfif" alt=""></div>
        

    </div>
    <footer>&copy;forever living product</footer>

    
    
</body>
</html>